In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-07-16 23:21:13,-33.6500,115.3333,56.21,73,96,8.59
1,1,Kahului,US,2022-07-16 23:21:13,20.8947,-156.4700,86.02,70,40,27.63
2,2,Bluff,NZ,2022-07-16 23:21:14,-46.6000,168.3333,48.79,75,100,17.22
3,3,College,US,2022-07-16 23:18:43,64.8569,-147.8028,66.07,71,75,3.44
4,4,Ilulissat,GL,2022-07-16 23:21:14,69.2167,-51.1000,50.02,53,57,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Cloudiness of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Wind Speed of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kahului,US,2022-07-16 23:21:13,20.8947,-156.4700,86.02,70,40,27.63
9,9,Albany,US,2022-07-16 23:16:19,42.6001,-73.9662,80.78,52,100,1.01
18,18,Butaritari,KI,2022-07-16 23:21:19,3.0707,172.7902,80.37,80,100,14.38
20,20,Arraial Do Cabo,BR,2022-07-16 23:21:20,-22.9661,-42.0278,78.66,61,0,12.66
24,24,Jamestown,US,2022-07-16 23:16:38,42.0970,-79.2353,78.94,56,100,8.05
30,30,Amahai,ID,2022-07-16 23:21:23,-3.3333,128.9167,76.33,93,100,6.60
39,39,Lufilufi,WS,2022-07-16 23:21:26,-13.8745,-171.5986,87.58,67,43,20.89
40,40,Vaini,TO,2022-07-16 23:21:26,-21.2000,-175.2000,80.76,89,20,8.05
42,42,Atuona,PF,2022-07-16 23:20:16,-9.8000,-139.0333,77.41,73,86,14.00
44,44,Sao Filipe,CV,2022-07-16 23:21:27,14.8961,-24.4956,75.54,84,13,7.81

In [22]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Kahului      US     86.02  20.8947 -156.4700
9            Albany      US     80.78  42.6001  -73.9662
18       Butaritari      KI     80.37   3.0707  172.7902
20  Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
24        Jamestown      US     78.94  42.0970  -79.2353
30           Amahai      ID     76.33  -3.3333  128.9167
39         Lufilufi      WS     87.58 -13.8745 -171.5986
40            Vaini      TO     80.76 -21.2000 -175.2000
42           Atuona      PF     77.41  -9.8000 -139.0333
44       Sao Filipe      CV     75.54  14.8961  -24.4956

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}