## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Svay Rieng,KH,76.77,overcast clouds,11.0879,105.7993,Apsara guesthouse
1,13,Nanakuli,US,84.11,clear sky,21.3906,-158.1547,Camp Pālehua
2,14,Hilo,US,87.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,16,Norman Wells,CA,78.84,broken clouds,65.2820,-126.8329,Heritage Hotel
4,24,Matara,LK,77.56,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Prompt the user to enter vacation start/end, vacation_stop1,vacation_stop2,vacation_stop3
input("Ready to Identify your vacation itnerary (Yes or No)")
vacation_start_city = input("From what city will you start your vacation? ")
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input("What is the first city to stop in on your vacation?")
vacation_stop_2_city = input("What is the second city to stop in on your vacation?")
vacation_stop_3_city = input("What is the third city to stop in on your vacation?")

Ready to Identify your vacation itnerary (Yes or No)yes
From what city will you start your vacation? Callaway
What is the first city to stop in on your vacation?Destin
What is the second city to stop in on your vacation?Natchez
What is the third city to stop in on your vacation?Silver City

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [8]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
195,566,Callaway,US,87.96,few clouds,30.153,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode= "DRIVING")

fig.add_layer(vacation_itinerary)


fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,566,Callaway,US,87.96,few clouds,30.1530,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...
1,566,Callaway,US,87.96,few clouds,30.1530,-85.5699,Holiday Inn Express & Suites Panama City-Tynda...
2,253,Destin,US,87.76,clear sky,30.3935,-86.4958,Wingate by Wyndham Destin
3,362,Natchez,US,88.02,broken clouds,31.5604,-91.4032,Hampton Inn & Suites Natchez
4,431,Silver City,US,84.16,scattered clouds,32.7701,-108.2803,Copper Manor Motel

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))